.columns {

  @extend .container;
  display: flex;
  @media only screen and (max-width:768px) {
    flex-direction: column;
    >div {
      margin-bottom: 2em;
    }
  }
  >div {
    flex: 1;
  }

  &--reversed {
    flex-direction: row-reverse;
    @media only screen and (max-width:768px) {
      flex-direction: column;
    }
  }

  &__content {
    padding: 1em;

    text-align: center;
    font-size: 2em;

    h2,h3,h4,h5,h6 {
      border-bottom: 1px solid #ddd;
      margin: .5em;
    }
    p {
      text-align: left;
      font-size: .8em;
    }
  }
}